AppCoffeeShopRespaldo/src/conf/xml-resources/web-service-references/WSInvoice/wsdl/localhost_8081/WebServiceCoffeeShop/WSInvoice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="WSInvoice">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8081/WebServiceCoffeeShop/WSInvoice?xsd=1"/>
</xsd:schema>
</types>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="InsertInvoice">
<part name="parameters" element="tns:InsertInvoice"/>
</message>
<message name="InsertInvoiceResponse">
<part name="parameters" element="tns:InsertInvoiceResponse"/>
</message>
<message name="UpdateInvoice">
<part name="parameters" element="tns:UpdateInvoice"/>
</message>
<message name="UpdateInvoiceResponse">
<part name="parameters" element="tns:UpdateInvoiceResponse"/>
</message>
<message name="MaMInvoiceProductInsert">
<part name="parameters" element="tns:MaMInvoiceProductInsert"/>
</message>
<message name="MaMInvoiceProductInsertResponse">
<part name="parameters" element="tns:MaMInvoiceProductInsertResponse"/>
</message>
<message name="MaMInvoiceProductUpdate">
<part name="parameters" element="tns:MaMInvoiceProductUpdate"/>
</message>
<message name="MaMInvoiceProductUpdateResponse">
<part name="parameters" element="tns:MaMInvoiceProductUpdateResponse"/>
</message>
<message name="MaMInvoiceProductDelete">
<part name="parameters" element="tns:MaMInvoiceProductDelete"/>
</message>
<message name="MaMInvoiceProductDeleteResponse">
<part name="parameters" element="tns:MaMInvoiceProductDeleteResponse"/>
</message>
<portType name="WSInvoice">
<operation name="Delete">
<input wsam:Action="http://WebService/WSInvoice/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://WebService/WSInvoice/DeleteResponse" message="tns:DeleteResponse"/>
</operation>
<operation name="InsertInvoice">
<input wsam:Action="http://WebService/WSInvoice/InsertInvoiceRequest" message="tns:InsertInvoice"/>
<output wsam:Action="http://WebService/WSInvoice/InsertInvoiceResponse" message="tns:InsertInvoiceResponse"/>
</operation>
<operation name="UpdateInvoice">
<input wsam:Action="http://WebService/WSInvoice/UpdateInvoiceRequest" message="tns:UpdateInvoice"/>
<output wsam:Action="http://WebService/WSInvoice/UpdateInvoiceResponse" message="tns:UpdateInvoiceResponse"/>
</operation>
<operation name="MaMInvoiceProductInsert">
<input wsam:Action="http://WebService/WSInvoice/MaMInvoiceProductInsertRequest" message="tns:MaMInvoiceProductInsert"/>
<output wsam:Action="http://WebService/WSInvoice/MaMInvoiceProductInsertResponse" message="tns:MaMInvoiceProductInsertResponse"/>
</operation>
<operation name="MaMInvoiceProductUpdate">
<input wsam:Action="http://WebService/WSInvoice/MaMInvoiceProductUpdateRequest" message="tns:MaMInvoiceProductUpdate"/>
<output wsam:Action="http://WebService/WSInvoice/MaMInvoiceProductUpdateResponse" message="tns:MaMInvoiceProductUpdateResponse"/>
</operation>
<operation name="MaMInvoiceProductDelete">
<input wsam:Action="http://WebService/WSInvoice/MaMInvoiceProductDeleteRequest" message="tns:MaMInvoiceProductDelete"/>
<output wsam:Action="http://WebService/WSInvoice/MaMInvoiceProductDeleteResponse" message="tns:MaMInvoiceProductDeleteResponse"/>
</operation>
</portType>
<binding name="WSInvoicePortBinding" type="tns:WSInvoice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertInvoice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateInvoice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaMInvoiceProductInsert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaMInvoiceProductUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MaMInvoiceProductDelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSInvoice">
<port name="WSInvoicePort" binding="tns:WSInvoicePortBinding">
<soap:address location="http://localhost:8081/WebServiceCoffeeShop/WSInvoice"/>
</port>
</service>
</definitions>