AppCoffeeShopRespaldo/src/conf/xml-resources/web-service-references/WSInvoice/wsdl/localhost_8081/WebServiceCoffeeShop/WSInvoice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="Delete" type="tns:Delete"/>

<xs:element name="DeleteResponse" type="tns:DeleteResponse"/>

<xs:element name="InsertInvoice" type="tns:InsertInvoice"/>

<xs:element name="InsertInvoiceResponse" type="tns:InsertInvoiceResponse"/>

<xs:element name="MaMInvoiceProductDelete" type="tns:MaMInvoiceProductDelete"/>

<xs:element name="MaMInvoiceProductDeleteResponse" type="tns:MaMInvoiceProductDeleteResponse"/>

<xs:element name="MaMInvoiceProductInsert" type="tns:MaMInvoiceProductInsert"/>

<xs:element name="MaMInvoiceProductInsertResponse" type="tns:MaMInvoiceProductInsertResponse"/>

<xs:element name="MaMInvoiceProductUpdate" type="tns:MaMInvoiceProductUpdate"/>

<xs:element name="MaMInvoiceProductUpdateResponse" type="tns:MaMInvoiceProductUpdateResponse"/>

<xs:element name="UpdateInvoice" type="tns:UpdateInvoice"/>

<xs:element name="UpdateInvoiceResponse" type="tns:UpdateInvoiceResponse"/>

<xs:complexType name="MaMInvoiceProductInsert">
<xs:sequence>
<xs:element name="idInvoice" type="xs:int"/>
<xs:element name="idProduct" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaMInvoiceProductInsertResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaMInvoiceProductUpdate">
<xs:sequence>
<xs:element name="idInvoice" type="xs:int"/>
<xs:element name="idProduct" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaMInvoiceProductUpdateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Delete">
<xs:sequence>
<xs:element name="idInvoice" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertInvoice">
<xs:sequence>
<xs:element name="idInvoice" type="xs:int"/>
<xs:element name="Date_of_issue" type="xs:string" minOccurs="0"/>
<xs:element name="SubTotal" type="xs:double"/>
<xs:element name="IVA" type="xs:double"/>
<xs:element name="Total" type="xs:double"/>
<xs:element name="idClient" type="xs:string" minOccurs="0"/>
<xs:element name="idSeller" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertInvoiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateInvoice">
<xs:sequence>
<xs:element name="idInvoice" type="xs:int"/>
<xs:element name="Date_of_issue" type="xs:string" minOccurs="0"/>
<xs:element name="SubTotal" type="xs:double"/>
<xs:element name="IVA" type="xs:double"/>
<xs:element name="Total" type="xs:double"/>
<xs:element name="idClient" type="xs:string" minOccurs="0"/>
<xs:element name="idSeller" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateInvoiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaMInvoiceProductDelete">
<xs:sequence>
<xs:element name="idInvoice" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaMInvoiceProductDeleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>