AppCoffeeShopRespaldo/src/conf/xml-resources/web-service-references/WSProduct/wsdl/localhost_8081/WebServiceCoffeeShop/WSProduct.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="WSProduct">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8081/WebServiceCoffeeShop/WSProduct?xsd=1"/>
</xsd:schema>
</types>
<message name="InsertProduct">
<part name="parameters" element="tns:InsertProduct"/>
</message>
<message name="InsertProductResponse">
<part name="parameters" element="tns:InsertProductResponse"/>
</message>
<message name="UdapteProduct">
<part name="parameters" element="tns:UdapteProduct"/>
</message>
<message name="UdapteProductResponse">
<part name="parameters" element="tns:UdapteProductResponse"/>
</message>
<message name="DeleteProduct">
<part name="parameters" element="tns:DeleteProduct"/>
</message>
<message name="DeleteProductResponse">
<part name="parameters" element="tns:DeleteProductResponse"/>
</message>
<portType name="WSProduct">
<operation name="InsertProduct">
<input wsam:Action="http://WebService/WSProduct/InsertProductRequest" message="tns:InsertProduct"/>
<output wsam:Action="http://WebService/WSProduct/InsertProductResponse" message="tns:InsertProductResponse"/>
</operation>
<operation name="UdapteProduct">
<input wsam:Action="http://WebService/WSProduct/UdapteProductRequest" message="tns:UdapteProduct"/>
<output wsam:Action="http://WebService/WSProduct/UdapteProductResponse" message="tns:UdapteProductResponse"/>
</operation>
<operation name="DeleteProduct">
<input wsam:Action="http://WebService/WSProduct/DeleteProductRequest" message="tns:DeleteProduct"/>
<output wsam:Action="http://WebService/WSProduct/DeleteProductResponse" message="tns:DeleteProductResponse"/>
</operation>
</portType>
<binding name="WSProductPortBinding" type="tns:WSProduct">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InsertProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UdapteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSProduct">
<port name="WSProductPort" binding="tns:WSProductPortBinding">
<soap:address location="http://localhost:8081/WebServiceCoffeeShop/WSProduct"/>
</port>
</service>
</definitions>