AppCoffeeShopRespaldo/web/WEB-INF/wsdl/localhost_8081/WebServiceCoffeeShop/WSProduct.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="DeleteProduct" type="tns:DeleteProduct"/>

<xs:element name="DeleteProductResponse" type="tns:DeleteProductResponse"/>

<xs:element name="InsertProduct" type="tns:InsertProduct"/>

<xs:element name="InsertProductResponse" type="tns:InsertProductResponse"/>

<xs:element name="UdapteProduct" type="tns:UdapteProduct"/>

<xs:element name="UdapteProductResponse" type="tns:UdapteProductResponse"/>

<xs:complexType name="InsertProduct">
<xs:sequence>
<xs:element name="idProduct" type="xs:int"/>
<xs:element name="NameProduct" type="xs:string" minOccurs="0"/>
<xs:element name="Units_Available" type="xs:string" minOccurs="0"/>
<xs:element name="Price" type="xs:float"/>
<xs:element name="Description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteProduct">
<xs:sequence>
<xs:element name="IdProduct" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UdapteProduct">
<xs:sequence>
<xs:element name="IdProduct" type="xs:int"/>
<xs:element name="NameProduct" type="xs:string" minOccurs="0"/>
<xs:element name="Units_Available" type="xs:string" minOccurs="0"/>
<xs:element name="Price" type="xs:float"/>
<xs:element name="Description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UdapteProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>